/Apple.class
/AsianApple.class
/ConsumerSuper.class
/ExceptionTest.class
/Fruit.class
/Mango.class
/MyFunctionallnterface.class
/ProducerExtends.class
/StreamStudy.class
/Student.class
/TestFunctionalInterface.class
